/* !CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !CUSTOM PROPERTIES */

:root {
    --blue: rgb(0,97,255);
    --blue-hoover: rgb(86, 151, 255);
    --skyblue: rgb(180,208,231);
    --aquablue: rgb(0,147,206);
    --darkblue: rgb(13,36,129);
    --green: rgb(162,211,155);
    --lightgreen: rgb(209,233,205);
    --bordeaux: rgb(97,8,43);
    --flashyred: rgb(255,28,28);
    --red: rgb(213,0,31);
    --yellow: rgb(255,216,48);
    --gray: rgb(230,230,232);
}

/* !GENERICS */

body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

h1{
    font-size: 72px;
}

h2{
    font-size: 38px;
}

h3{
    font-size: 22px
}

ul{
    list-style-type: none;
}

.button{
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: var(--blue);
    display: inline-block;
}

.button:hover{
    text-shadow: 0 0 5px white;
    background-color: var(--blue-hoover);
}

/* !UTILS */

.container{
    max-width: 850px;
    margin: 0 auto;
}

.container.big{
    max-width: 1000px;
}

.flex {
    display: flex;
}

.mb-15{
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-150{
    margin-bottom: 150px;
}

.mb-50 {
    margin-bottom: 50px;
}

.gray-border{
    border: 1px solid var(--gray);
}

.debug {
    border: 1px dashed black;
}

.debug.white{
    border-color: white;
}


/* !HEADER */

    /* NAVBAR */ 

    header nav{
        height: 80px;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        justify-content: space-between;
        align-items: center;
    }

    .sidenav{
        height: 100%;
        padding: 0 15px;
    }

    .sidenav.right{
        justify-content: flex-end;
    }

    .logo{
        flex: 0 0 20%;
        padding-right: 15px;
        align-items: center;
    }

    .sidenav ul{
        align-items: center;
    }
    
    .sidenav .link{
        text-decoration: none;
        color: black;
        display: inline-block;
        line-height: 80px;
        padding: 0 15px;
    }

    .sidenav .link:hover{
        border-bottom: 3px solid black;
    }



    /* JUMBOTRON */

    .jumbotron{
        background-color: var(--skyblue);
        padding-top: 100px;
    }

    .jumbotron .container{
        flex-direction: column;
        align-items: center;
    }

    .jumbotron .row{
        max-height: 330px;
        width: 100%;
    }

    .jumbotron .description{
        flex-basis: 35%;
    }

    .jumbotron figure{
        flex-basis: 65%;
    }

    .jumbotron img{
        max-width: 100%;
    }

/* !MAIN */

    /* BUSINESS PLAN SECTION */

    .business-plan{
        font-size: 12px;
    }

    .option-selection{
        align-items: center;
    }

    .circle{
        width: 20px;
        height: 20px;
        border: 2px solid gray;
        border-radius: 50%;
        margin-right: 5px;
        cursor: pointer;
    }

    .circle.selected{
        border: 5px solid var(--blue);
    }

    .option-selection span{
        margin-right: 50px;
    }

    .business-plan .row{
        width: 100%;
    }

    .business-plan .row.flex{
        gap: 40px;
    }

    .business-plan .col{
        flex-basis: calc(100%/3);
        min-height: 800px;
    }

    .business-plan .button{
        width: 100%;
        text-align: center;
    }

    .plan-type{
        text-align: center;
        padding: 5px 0;
        border-bottom: 1px solid var(--gray);
    }

    .content {
        min-height: 200px;
        padding: 25px;
    }

    .plan-name {
        min-height: 85px;
    }

    .period{
        color: gray;
    }

    .plan-specifics{
        min-height: 125px;
    }

    .business-plan li{
        display: flex;
        margin-bottom: 10px;
    }

    .plan-specifics .fa-solid{
        display: block;
        line-height: 20px;
        margin-right: 5px;
    }

    .business-plan hr{
        width: 20%;
        height: 1px;
        color: var(--gray);
    }

    .checkmark li::before{
        content: '\f00c';
        color: var(--blue);
        font: var(--fa-font-solid);
        position: relative;
        top: 4px;
        margin-right: 5px;
    }

    .content.bottom{
        gap: 40px;
    }

    .content.bottom > *{
        padding: 25px 10px;
    }

    .content.bottom .plan-name{
        flex-basis: calc((100% / 3 *2 ) + (80px / 3 * 2));
    }

    .content.bottom .contact-us{
        flex-basis: calc(100%/3);
    }

    

    /* PARTNER SECTION  */

    .partner figure{
        flex-basis: 60%;
        min-height: 400px;
    }

    .partner img{
        width: 100%;
        display: block;
    }

    .partner .description{
        flex-basis: 40%;
        min-height: 400px;
        padding: 40px;
        font-size: 14px;
    }

    .button.white{
        color: rgb(178,178,178);
        border: 1px solid rgb(178,178,178);
        background-color: white;
    }

    /* OPERATIONS SECTION */

    .operations{
        font-size: 14px;
    }

    .operations .col{
        min-height: 450px;
        flex-basis: calc(100%/3);
        padding: 0 15px;
    }

    .operations img{
        max-width: 100%;
    }

    /* REVIEWS SECTION */

    .reviews > div{
        flex-basis: calc(100%/3);
        min-height: 600px;
    }

    .reviewers{
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .reviewer-logo {
        flex: 0 0 50%;
        height: 50%;
    }

        /* COMPANIES BRANDS */

        #designit{
            background-color: var(--green);
            border: 15px solid var(--lightgreen);
        }

        #asu{
            background-color: var(--bordeaux);
        }

        #uf{
            background-color: var(--aquablue);
        }

        #topps{
            background-color: var(--flashyred);
        }

        #world-bicycle{
            background-color: var(--red);
        }

        #hearst{
            background-color: var(--skyblue);
        }

        #lonely-planet{
            background-color: var(--darkblue);
        }

        #clear-channel{
            background-color: var(--yellow);
        }

    /* FREE TRIAL SECTION */

    .free-trial{
        background-color: var(--skyblue);
        color: var(--bordeaux);
        padding: 150px 0;
    }

    .free-trial .title{
        flex-basis: 60%;
    }

    .free-trial .action{
        flex-basis: 40%;
    }

    /* FAQ SECTION */

    .faq .row{
        padding: 25px 0;
        width: 100%;
        justify-content: space-between;
    }

    .fa-angle-down{
        padding: 0 20px;
    }

/* !FOOTER */

footer{
    background-color: black;
    color: white;
    margin-top: 150px;
    height: 600px;
}

footer .container{
    height: 100%;
}

.footer-top{
    height: 80%;
    padding: 50px 0;
}

.footer-bottom{
    height: 20%;
}

.footer-top .col{
    flex-basis: 20%;
    height: 100%;
    background-color: brown;
}

.language-selection{
    height: 100%;
    width: 15%;
}





